.main {
  width: calc(100% - 40px);
}

.section {
max-width: 600px;
width: 100%;
min-height: 912px;
display: flex;
flex-direction: column;
}

.menu {
  height: 756px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-track {
  background: #2F2F37;
}

::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #8585AD;
}
